.Container-Light {
    background-image: url("/images/Home/pexels-pixabay-262780.jpg");
    background-repeat: no-repeat;
    background-position: right top;
  }
  
  .Container-Dark {
    background-image: url("/images/Home/pexels-pixabay-262786.jpg");
    background-repeat: no-repeat;
    background-position: right top;
  }
  